<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooNew.Properties.Settings.ProductsDBConnectionString"
            connectionString="Data Source=IPHONE8\SEESHARPDB;Initial Catalog=ProductsDB;Persist Security Info=True;User ID=sa;Password=Time1@timE"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>